<clr-main-container>
  <clr-header class="header header-7">
    <div class="branding">
      <a href="#" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">VCN test App - Vote for your preferred solution in VCN Portfolio - {{title}}</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon-text">
          <clr-icon shape="user"></clr-icon>
          <span class="nav-text"></span>
      </a>
    </div>
  </clr-header>

  <div class="content-container">
      <clr-vertical-nav>
          <a clrVerticalNavLink (click)="Reset()" routerLinkActive="active" >
              <clr-icon clrVerticalNavIcon shape="refresh"></clr-icon>
              Reset
          </a>
          <a clrVerticalNavLink (click)="LogIn()" routerLinkActive="active" >
            <clr-icon clrVerticalNavIcon shape="login"></clr-icon>
            Log in
          </a>
          <a clrVerticalNavLink (click)="LogOut()" routerLinkActive="active" >
          <clr-icon clrVerticalNavIcon shape="logout"></clr-icon>
          Log out
          </a>
      </clr-vertical-nav>   
      <div align="center" class="content-area">
        <div class="clr-row">
          <ngx-charts-pie-grid *ngIf='version != "v2"'
          [view]="view"
          [scheme]="flame"
          [results]="single"
          [animations]=false>
          </ngx-charts-pie-grid>
          <ngx-charts-gauge *ngIf='version == "v2"'
          [view]="view"
          [scheme]="flame"
          [results]="single"
          [animations]=false
          [legend]=false>
          </ngx-charts-gauge>
        </div>

        <div class="clr-row">
            <div class="clr-col-12">
              <div class="alert alert-success" role="alert" *ngIf="apiConnectivity">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                        </div>
                        <span class="alert-text">Application Tiers reachable</span>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="clr-row">
            <div class="clr-col-12">
              <div class="alert alert-danger" role="alert" *ngIf="!apiConnectivity">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                        </div>
                        <span class="alert-text">Application Tiers unreachable</span>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="clr-row">
            <div class="clr-col-12">
              <div class="alert alert-success" role="alert" *ngIf="dbConnectivity">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                        </div>
                        <span class="alert-text">Database Tiers reachable</span>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="clr-row">
            <div class="clr-col-12">
              <div class="alert alert-danger" role="alert" *ngIf="!dbConnectivity">
                <div class="alert-items">
                    <div class="alert-item static">
                        <div class="alert-icon-wrapper">
                            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                        </div>
                        <span class="alert-text">Database Tiers unreachable</span>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <ul>
          <li *ngFor="let a of api; let i = index">
            <span class="label {{a.label}}">API Hostname: {{a.hostname}} API Version: {{a.version}} API Release: {{a.release}} API Platform: {{a.platform}}</span>
          </li>
        </ul>
        
      </div>
  </div>
</clr-main-container>